@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
  background-color: #99CAE8;
  font-family: monospace;
  font-size: 32px;
}
footer {
  background-color: #D4C5E8;
  font-size: 15px;
}
.closing {
  font-size: 28px;
  font-style: oblique;
  font-weight: bold;
}
